networks:
  appnet:
    external: true

services:
  backup:
    image: alpine:3.18
    container_name: backup_guy
    restart: "no"
    volumes:
      - mysql_data:/var/lib/mysql:ro       # MySQL volume read-only
      - uploads_data:/data:ro              # Uploads/media volume read-only
      - ./backup:/backup                   # Temp backup hasilnya
      - ./rclone_config:/root/.config/rclone  # rclone.conf Google Drive
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - BACKUP_DATE=$(date +%Y%m%d_%H%M%S)
    entrypoint: /bin/sh
    command: >
      -c "
      apk add --no-cache mysql-client tar gzip bash curl &&
      curl https://rclone.org/install.sh | bash &&
      echo 'Starting MySQL backup...' &&
      mysqldump -uroot -p$MYSQL_ROOT_PASSWORD --all-databases > /backup/db_backup_$BACKUP_DATE.sql &&
      echo 'Backing up uploads...' &&
      tar czf /backup/uploads_backup_$BACKUP_DATE.tar.gz -C /data . &&
      echo 'Pushing backups to Google Drive...' &&
      rclone copy /backup gdrive:Backup/RMS --config /root/.config/rclone/.rclone.conf --progress &&
      echo 'Backup completed.'
      "
    networks:
      - appnet

volumes:
  mysql_data:
    external: true
  uploads_data:
    external: true