networks:
  appnet:
    external: true

services:
  mysql-cron-backup:
    container_name: mysql-cron-backup
    image: fradelg/mysql-cron-backup
    # depends_on:
    #   - mysql
    volumes:
      - ../../data/backup:/backup
    environment:
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - MYSQL_PASS=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DB=${MYSQL_DATABASE}
      - MAX_BACKUPS=9
      - INIT_BACKUP=1
      - CRON_TIME=0 0 * * *
    restart: unless-stopped
    networks:
      - appnet
  
  rclone-cron:
    container_name: rclone-cron
    image: olivierdalang/rclone-cron:latest
    volumes:
      - ../../data/backup/:/backup
      - ../../apps/radar-mandiri-sukses/public/uploads:/uploads:ro
    environment:
      - CRON_SCHEDULE=0 * * * *
      - COMMAND=rclone copy /backup GOOGLEDRIVE_OPS:Backup/RMS && tar -czf /uploads_$(date +'%Y-%m-%d-%H%M').tar.gz /uploads && rclone copy /uploads_$(date +'%Y-%m-%d-%H%M').tar.gz GOOGLEDRIVE_OPS:Backup/RMS/Uploads
      - RCLONE_CONFIG_GOOGLEDRIVE_OPS_TYPE=${type}
      - RCLONE_CONFIG_GOOGLEDRIVE_OPS_CLIENT_ID=${client_id}
      - RCLONE_CONFIG_GOOGLEDRIVE_OPS_CLIENT_SECRET=${client_secret}
      - RCLONE_CONFIG_GOOGLEDRIVE_OPS_TOKEN=${token}
    networks:
      - appnet