networks:
  appnet:
    external: true

services:
  mysql:
    image: mysql:8.0.44
    container_name: mysql
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - ../../data/mysql:/var/lib/mysql
    mem_limit: 256m
    restart: always
    networks:
      - appnet