networks:
  appnet:
    external: true

services:
  nginx:
    image: nginx:1.29.4-alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./sites:/etc/nginx/conf.d:ro
      # RMS Application
      - ../../apps/rms-ci4/public:/var/www/rms/public:ro
      # SSL Certificates
      - ./ssl:/etc/nginx/ssl:ro

    # depends_on:
    #   - php-rms
    mem_limit: 64m
    restart: always
    networks:
      - appnet