networks:
  appnet:
    external: true

services:
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2.1
    container_name: phpmyadmin
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    mem_limit: 64m
    restart: always
    networks:
      - appnet
    # profiles: ["dev"]